@import "normalize";
@import "fonts";
@import "icomoon";


/* HEADER */

.header {
  height: 104px;
}

.logo {

  img {
    padding-left: 30px;
  }
  .logo-text {
    padding-left: 17px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
  }

  .logo-prefix {
    color: #333333;
  }

  .logo-suffix {
    color: #8d81ac;
  }
}

.nav {

  ul {
    width: 100%;
    padding-right: 15px;
  }

  a {
    color: #635c73;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;

    &:hover {
      color: #333333;

    }
  }

  .buy-now-btn {
    display: inline-block;
    background: #8d81ac;
    color: #ffffff;
    padding: 0 36px;
    height: 38px;
    line-height: 38px;
    border-radius: 50px;
    transition: all .3s;

    &:hover {
      background: darken(#8d81ac, 10%);
      text-decoration: none;
      color: #ffffff;
    }
  }
}

/* HERO */

.hero {
  height: 800px;
  background: url(../images/hero-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  text-align: center;

  .hero-title {
    font-family: 'Montserrat';    
    font-weight: bold;
    font-style: normal;
    font-size: 82px;
    color: #ffffff;
    text-transform: capitalize;
    padding-top: 108px;
  }

  .hero-description {
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    color: #8d81ac;
    padding-top: 18px;
  }

  .hero-note {
    font-family: 'Montserrat';    
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    columns: #848e97;
    text-transform: uppercase;
    padding-top: 18px;
  }

  .sub-hero {
    height: 100%;
  }

  .download-btn-block {
    position: absolute;
    bottom: -65px;
    left: calc(50% - 195px);
    
  }

  .download-btn {
    display: inline-block;
    height: 62px;
    background: #8d81ac;
    border-radius: 100px;
    padding: 0 66px;
    font-family: 'Montserrat';    
    font-weight: bold;
    font-style: normal;
    font-size: 21px;
    color: #ffffff;
    line-height: 62px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      background: darken(#8d81ac, 10%);
    }
  }

  .download-btn-note {
    font-family: 'Montserrat';    
    font-weight: normal;
    font-style: normal;
    color: #848e97;
    text-transform: capitalize;
    padding-top: 20px;
  }
}

/* REVOLUTIONARY EDITOR */

.revol-editor {
  background: #ffffff;
  height: 390px;
  text-align: center;

  h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    font-size: 54px;
    color: #635c73;
    text-transform: uppercase;
    padding-top: 130px;
  }

  p {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    color: #323232;
    font-size: 21px;
    line-height: 32px;
    padding-top: 40px;
  }
  
  .git-btn {
      margin-right: 10px;
    }
}
