@import "normalize";
@import "fonts";
@import "icomoon";


/* HEADER */
.no-margin {
  margin: 0;
}
.header {
  height: 104px;
  margin: 0;
}

.logo {

  img {
    padding-left: 30px;
  }
  .logo-text {
    padding-left: 17px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
  }

  .logo-prefix {
    color: #333333;
  }

  .logo-suffix {
    color: #8d81ac;
  }
}

.nav {

  ul {
    width: 100%;
    padding-right: 15px;
  }

  a {
    color: #635c73;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;

    &:hover {
      color: #333333;

    }
  }

  .buy-now-btn {
    display: inline-block;
    background: #8d81ac;
    color: #ffffff;
    padding: 0 36px;
    height: 38px;
    line-height: 38px;
    border-radius: 50px;
    transition: all .3s;

    &:hover {
      background: darken(#8d81ac, 10%);
      text-decoration: none;
      color: #ffffff;
    }
  }
}

/* HERO */

.hero {
  height: 800px;
  background: url(../images/hero-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  text-align: center;


  .hero-title {
    font-family: 'Montserrat';    
    font-weight: bold;
    font-style: normal;
    font-size: 82px;
    color: #ffffff;
    text-transform: capitalize;
    padding-top: 108px;
  }

  .hero-description {
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    color: #8d81ac;
    padding-top: 18px;
  }

  .hero-note {
    font-family: 'Montserrat';    
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #848e97;
    text-transform: uppercase;
    padding-top: 18px;
  }

  .sub-hero {
    height: 100%;
  }

  .download-btn-block {
    position: absolute;
    bottom: -565px;
    left: calc(50% - 195px);
    z-index: 1;
  }

  .download-btn {
    display: inline-block;
    height: 62px;
    background: #8d81ac;
    border-radius: 100px;
    padding: 0 66px;
    font-family: 'Montserrat';    
    font-weight: bold;
    font-style: normal;
    font-size: 21px;
    color: #ffffff;
    line-height: 62px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      background: darken(#8d81ac, 10%);
    }
  }

  .download-btn-note {
    font-family: 'Montserrat';    
    font-weight: normal;
    font-style: normal;
    color: #848e97;
    text-transform: capitalize;
    padding-top: 20px;
  }
}

/* REVOLUTIONARY EDITOR */

.revol-editor {
  background: #ffffff;
  height: 390px;
  text-align: center;

  h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    font-size: 54px;
    color: #635c73;
    text-transform: uppercase;
    padding-top: 130px;
  }

  p {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    color: #323232;
    font-size: 21px;
    line-height: 32px;
    padding-top: 40px;
  }
  .git-btns {
    padding-top: 36px;
  }
}

/* WHAT YOU GET */

.what-you-get {
  height: 710px;
  background-color: #f4f4f4;
  position: relative;

  .code-img {
    position: absolute;
    right: 0;
    bottom: -65px;
  }

  .opportunities {
    padding-top: 102px;
  }

  .opportunity {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;

  }

  .opportunity-img3 {
    padding-left: 15px;
  }

  .opportunity-img4 {
    padding-left: 10px;
  }
  .opportunity-text1, .opportunity-text2, .opportunity-text3, .opportunity-text4 {
    font-family: 'Montserrat';
    font-style: normal;
    width: 380px;
  }

  .opportunity-text1 {
    margin-left: 15px;
  }

  .opportunity-text2 {
    margin-left: 35px;
  }

  .opportunity-text3 {
    margin-left: 50px;
  }

  .opportunity-text4 {
    margin-left: 45px;
  }

  .opportunity-title {
    font-size: 16px;
    font-weight: bold;
    color: #323232;
    padding-bottom: 15px;
  }

  .opportunity-description {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #848e97;

  }
}

.what-you-get-title {
  padding-top: 84px;
  color: #8d81ac;
  font-size: 48px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  text-align: left;
  overflow: hidden;
}

/* USER'S COMMENTS*/

.comments {
  height: 580px;
  color: #ffffff;
}


#carousel {
  height: 282px;
  width: 950px;
  border:1px solid #222;
  font-family: 'Montserrat';
  margin-top: 87px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  overflow:hidden;

  .prev-comment {
    position: absolute;
    top: 50%;
    left: 0px;
  }

  .next-comment {
    position: absolute;
    top: 50%;
    right: 0px;
  }
}

.comment {
  height: 282px;
  width: 730px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-data {
  display: flex;
  align-items: center;

  .user-img {
    height: 85px;
    width: 85px;
    border-radius: 50px;
    background: url(../images/user-img.png);
  }

  .about-user {
    padding-left: 25px;
  }
  
  .user-name {
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #635c73;

    &:hover {
      text-decoration: none;
    }
  }

  .user-nickname {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    color: #8d81ac;

  }
}

.user-comment {
  height: 197px;
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .comment-itself {
    font-size: 20px;
    color: #333333;
    line-height: 32px;
    text-align: center;
  }

  a {
    color: #8d81ac;
  }

  .comment-time {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 32px;
    color: #848e97;
  }
}