<!DOCTYPE html>
<html>
<div class="conteiner">
    @@include('./include/head.html')
    <body>
        @@include('./include/header.html')
        <div class="hero">
            <div class="sub-hero row no-gutters">
                <div class="col-lg-12">
                    <h1 class="hero-title">fork app</h1>
                    <p class="hero-description">A real gamechanger in the world of web development</p>
                    <p class="hero-note">v. 2.8 For Mac and Windows</p>
                    <div class="download-btn-block">
                        <a class="download-btn" href="">Download For Free Now</a>
                        <p class="download-btn-note">Unlimited 30-Days Trial Period</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="revol-editor row">
            <div class="col-lg-12">
                <h2>Revolutionary editor</h2>
                <p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id 
                    <br>metus id quam auctor molestie eget ut augue. 
                </p>
                <div class="git-btns">
                    <a class="git-btn github-button" href="https://github.com/ntkme/github-buttons/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch ntkme/github-buttons on GitHub">Watch</a>
                    <a class="git-btn github-button" href="https://github.com/ntkme/github-buttons" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
                    <a class="git-btn github-button" href="https://github.com/ntkme/github-buttons/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork ntkme/github-buttons on GitHub">Fork</a>
                </div>
            </div>

        </div>
    </body>
    @@footer('./include/footer.html')
</div>
</html>