<footer>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="betweener"></div>
            </div>
        </div>
        <div class="row">                        
            <div class="col-xl-4">
                <div class="footer-logo">
                    <a href="">
                        <img src="./images/footer-logo.png" alt="">
                    </a>
                    <p class="logo-note">Lorem ipsum dolor sit amet, feugiat 
                        <br>
                        delicat liberavisse id cum no quo.</p>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="footer-nav">
                    <p class="nav-title">navigation</p>
                    <ul>
                        <li><a href="">home</a></li>
                        <li><a href="">overview</a></li>
                        <li><a href="">about</a></li>
                        <li><a href="">buying options</a></li>
                        <li><a href="">support</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="contact-info">
                    <p class="number">347 567 78 90</p>
                    <p class="number-note">AVAILABLE FROM 12PM - 18PM</p>
                    <p class="city">New York, NY</p>
                    <p class="address">560 Judah St & 15th Ave, Apt 5
                        <br>
                        San Francisco, CA, 230903</p>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="additional-info">
                    <p class="heading">Info</p>
                    <p class="note">Wisi enim ad minim veniam, quis 
                        <br>
                        nostrud exerci tation ullamcorper 
                        <br>
                        suscipit lobortis nisl ut aliquip ex 
                        <br>
                        commodo consequat. Autem vel 
                        <br>
                        hendrerit iriure dolor in hendrerit.</p>
                </div>
            </div>
        </div>
    </div>
</footer>