<header>
    <div class="header row d-flex justify-content-between">
        <div class="logo col-lg-2 d-flex justify-content-start align-items-center">
            <div>
                <img src="./images/forkio-logo.png" alt="">
            </div>
            <div class="logo-text">
                <p class="logo-prefix">fork<span class="logo-suffix">io</span></p>
            </div>
        </div>
        <div class="nav col-lg-7">
            <ul class="d-flex justify-content-between align-items-center">
                <li><a href="">Overview</a></li>
                <li><a href="">About Fork</a></li>
                <li><a href="">Buying Options</a></li>
                <li><a href="">Support</a></li>
                <li><a class="buy-now-btn" href="">Buy Now</a></li>
            </ul>
        </div>
    </div>
</header>